<h1>All Species</h1>

<%= will_paginate %>

<ul class="species">
  <% @species.each do |species| %>
    <li>
    <%= image_tag species.photo.url %>
    <%= link_to species.species_name, species %>
    
    </li>
  <% end %>
</ul>

<%= will_paginate %>
