<table class="species" summary="Species information">
  <tr>
    <td class="main">
      <h1>
        
        <%= @species.species_name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Species Name</strong> <%= @species.species_name %><br />
      <strong>URL</strong>  <%= link_to species_path(@species), @species %>
    </td>
  </tr>
</table>
