<li>
      <%= gravatar_for staff_member, :size => 30 %>
  <%= link_to staff_member.first_name, staff_member %>

<% if signed_in? %>
  | <%= link_to "edit", edit_staff_member_path(staff_member) %>
  | <%= link_to "delete", staff_member, :confirm => "Are you sure you want to delete this user?", :method => :delete %>
  <% end %><br>
    </li>

