<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @staff_member %>
        <%= @staff_member.surname%>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Surname</strong> <%= @staff_member.surname %><br />
      <strong>URL</strong>  <%= link_to staff_member_path(@staff_member), @staff_member %>
    </td>
  </tr>
</table>
