<h1>Staff_members#signin</h1>
<p>Find me in app/views/staff_members/signin.html.erb<br />
Sign in form shall be found here with a button for new staff to sign up below
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
