<h1>All Enquiries</h1>

<%= will_paginate %>

 <ul class="enquiries">
  <% @enquiries.each do |enquiry| %>
     <%= link_to enquiry.enquiry_title, enquiry %>

      <% if signed_in? %>
            | <%= link_to "delete", enquiry, :confirm => "Are you sure?", :method => :delete %>
                    
            <% end %><br />

  <% end %>
 </ul>
 
<%= will_paginate %>
